<div class="card">
	<div class="card-header">
		<h3 class="mt-2">DANH SÁCH TÀI KHOẢN</h3>
	</div>
	<div class="card-body">
		<table class="table table-bordered">
			<thead class="bg-success text-white"
				style="font-variant: small-caps;">
				<tr>
					<th>User-name</th>
					<th>Full-Name</th>
					<th>Email</th>
					<th>Photo</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in pager.items">
					<td>{{item.username}}</td>
					<td>{{item.fullname}}</td>
					<td>{{item.email}}</td>
					<td>{{item.photo}}</td>
					<td class="text-center">
						<button ng-click="edit(item)" class="btn btn-warning">
							<i class="fa-solid fa-square-pen"></i>
						</button> <!-- <button ng-click="delete(item)" c class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button> -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center mb-5">
		<a ng-click="pager.first()" class="btn btn-outline-success">First</a>
		<a ng-click="pager.prev()" class="btn btn-outline-success">Previous</a>
		<button class="btn">{{pager.page + 1 }} / {{pager.count}}</button>
		<a ng-click="pager.next()" class="btn btn-outline-success">Next</a> <a
			ng-click="pager.last()" class="btn btn-outline-success">Last</a>
	</div>
</div>