<div class="card">
	<div class="card-header">
		<h3 class="mt-2">DANH SÁCH HÓA ĐƠN</h3>
	</div>
    <div class="card-body">
        <table class="table table-bordered">
        	<thead class="bg-success text-white" 
        		style="font-variant: small-caps;">
        		<tr>
        			<th>Id</th>
        			<th>Name</th>        		
        			<th>Date</th>
        			<th>Address</th>
        		
        			
        		</tr>
        	</thead>
        	<tbody>
        		<tr ng-repeat="item in pager.items">
        			<td>{{item.id}}</td>
        			<td>{{item.account.fullname}}</td>        			
        			<td>{{item.createDate|date:'dd-MM-yyyy'}}</td>
        			<td>{{item.address}}</td>
        			
        			
        		</tr>
        	</tbody>
        </table>
    </div>
    <div class="card-footer text-center">
    	<button ng-click="pager.first()" class="btn btn-outline-success">First</button>
    	<button ng-click="pager.previous()" class="btn btn-outline-success">Previous</button>
    	<button class="btn">{{pager.page+1}} of {{pager.count}}</button>
    	<button ng-click="pager.next()" class="btn btn-outline-success">Next</button>
    	<button ng-click="pager.last()" class="btn btn-outline-success">Last</button>
    </div>
</div>