<html xmlns:th="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">
<main th:object="${item}" class="poly-item-detail">
	<p class="text-center fw-bolder h2 mt-3">Thông tin chi tiết</p>
	<div class="container">
		<div class="card-body mt-3">
			<div th:object="${item}" class="row">
				<div class="col-lg-6 col-md-5 col-sm-6 col-5">
					<div class="pro-img-details text-center">
						<img th:src="@{|/assets/images/*{image}|}" width="100%" alt="">
					</div>
					<!-- <div class="pro-img-list">
							<a href="#"> <img th:src="@{|/assets/images/*{image}|}" alt="">
							</a> <a href="#"> <img th:src="@{|/assets/images/*{image}|}" alt="">
							</a> <a href="#"> <img th:src="@{|/assets/images/*{image}|}" alt="">
							</a> <a href="#"> <img th:src="@{|/assets/images/*{image}|}" alt="">
							</a>
						</div> -->
				</div>
				<div class="col-sm-6 col-6 border border-black shadow-sm rounded-3 ">
					<h4 class="box-title mt-2" th:utext="*{name}"></h4>
					<hr>
					<h2 class="mt-4 text-danger fw-bolder">[[${item.getFormattedPrice}]]</h2>
					<ul class="list-unstyled">
						<li><i class="fa fa-check text-success"></i>
							[[*{getFormattedCreatedate}]]</li>
						<li><i class="fa fa-check text-success"></i>
							[[*{category.name}]]</li>
					</ul>
					<p>Trong cuốn hồi ký trữ tình, cuốn hút và không ủy mị này, con
						trai của một người cha châu Phi và người mẹ Mỹ da trắng đã đi tìm
						một ý nghĩa thực tế cho cuộc đời mình với tư cách là một người Mỹ
						da đen.</p>
					<button class="btn btn-danger btn-rounded mr-1 mt-4 mb-4" th:attr="ng-click=@{|cart.add(*{id})|}"
						data-toggle="tooltip" title="" data-original-title="Add to cart">
						Thêm vào giỏ hàng</button>
					<!-- <button class="btn btn-danger btn-rounded mt-4 mb-4">Mua ngay</button> -->
				</div>
				<div class="card my-4">
					<div class="card-body">
						<h3>CÙNG LOẠI</h3>
						<hr>
						<div class="row row-cols-1 g-4 mt-1 ">
							<div th:each="p:*{category.products}" class="col-sm-3">
								<div class="card  text-center poly-item rounded-0 ms-4">
									<div class="card-body">
										<a th:href="@{|product/detail/${p.id}|}"> <img
											th:src="@{|/assets/images/${p.image}|}">
										</a>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark">[[${p.name}]]</h5>
										<h5 class="text-center text-primary"
											th:utext="${p.getFormattedPrice}"></h5>
									</div>
									<div class="card-footer ">
										<div class="d-grid gap-2 d-md-flex justify-content-md-center">
											<button class="btn btn-outline-dark  w-100"
												th:classappend="${p.available}?'':disabled"
												th:attr="ng-click=@{|cart.add(${p.id})|}">
												<i class="bi-cart-fill me-1"></i>Mua hàng
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</html>