<html xmlns:th="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">

<main>
	

	<form th:object="${product}" action="" method="POST">
		<div class="card">
			<div class="card-header">
			<div class="row">
				<div class="col-7 text-end h3 fw-bolder">Đăng sản phẩm</div>
				<div class="col-5 text-end">
					<a th:href="@{|/product/mybooks/${#request.remoteUser}|}" class="btn btn-success">Sách của tôi</a>
				</div>
			</div>
		</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4 text-center">
						<label for="image"> <img id="preview-image"
							th:src="@{|/assets/images/*{image}|}" style="max-width: 100%"
							height="150px" />
						</label>
					</div>
					<div class="col-sm-8">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Tên sách</label> <input th:field="*{name}"
									class="form-control" />
							</div>
							<div class="form-group col-sm-6">
								<label>Id</label> <input th:field="*{acc}" class="form-control" />
							</div>
						</div>
						<div class="row mt-3">
							<div class="form-group col-sm-6">
								<label>Hình ảnh</label> <input type="file" class="form-control"
									id="image" th:field="*{image}">
							</div>
							<div class="form-group col-sm-6">
								<label>Giá</label> <input th:field="*{price}"
									class="form-control" />
							</div>
						</div>
						<div class="row mt-3">
							<div class="form-group col-sm-6">
								<label>Thể loại</label> <select th:field="*{category}"
									class="form-control">
									<option th:each="item : ${listCate}" th:value=${item.id}
										th:utext=${item.name}></option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>Trạng thái</label>
								<div class="form-control" style="border: none;">
									<div class="form-check ps-0">
										<input th:field="*{available}" class="form-check-input1"
											name="available" th:value="true" type="radio"
											id="inlineFormCheck"> <label class="form-check-label"
											for="inlineFormCheck"> Yes </label> <input
											th:field="*{available}" class="form-check-input2 ms-2"
											name="available" th:value="false" type="radio"
											id="inlineFormCheck2"> <label
											class="form-check-label" for="inlineFormCheck2"> No </label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
			<button style="width: 100px;" type="submit" class="btn btn-success"
				th:formaction="@{|/product/uploadsp/${#request.remoteUser}/create|}">Thêm mới</button>
			<button style="width: 100px;" type="submit" class="btn btn-success"
				th:formaction="@{|/product/uploadsp/${#request.remoteUser}/update|}">Cập nhật</button>
			<a style="width: 100px;" class="btn btn-success"
				th:href="@{|/product/uploadsp/${#request.remoteUser}|}">Làm mới</a>
		</div>
	</form>
</main>
</html>